.register-page {
    width: 30vw;
    padding: 30px;
    border-radius: 14px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}

.register-page input.input-field {
    width:400px; 
    margin:0 auto;
}

.register-page .register-page-title {
    margin-bottom: 26px;
}