body {
    background-image: url('./src/images/product-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    margin-top: 80px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}


footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

footer .footer-content {
    color: white;
    text-align: center;
    margin: 12px;
}

/* supplement detail style */

section.supplement-details-page {
    max-width:600px;
    margin: 50px auto;
}

.supplement-details-page .supplement-details-page-title {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.card-container .card-container-image {
    width: 70%;
    margin: 0 auto;
}

/* end supplement detail style */


/* nav style */
nav .nav-link.greeting {
    font-weight: bold;
    position: absolute;
    right: 100px;
}

/* end nav style */

/* list supplements page style */
.supplements-page .card {
    width: 16vw;
}

.supplements-page .cards-box {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3vw;
}

.supplements-page .card .card-img {
    width: 100%;
}
/* end list supplements page style */